{% extends 'base.html' %}

{% block content %}
    <img class="rounded-circle account-img" src="{{ image_file }}" alt="...">
    <br>
    <br>
    <h2 class="account-heading fs-2">{{ current_user.username }}</h2>
    <p class="text-secondary fs-4 text-info">{{ current_user.email }}</p>

    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-control-label fs-4") }}
        {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ form.username(class="form-control form-control-lg") }}
        {% endif %}
        <br>

        {{ form.email.label(class="form-control-label fs-4") }}
        {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
        <br>

        {{ form.picture.label(class="form-control-label fs-5") }}<br><br>
        {{ form.picture(class="form-control-file fs-6") }}
        {% if form.picture.errors %}
            {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% endif %}
        <br>

        <br>
        {{ form.submit(class="btn btn-outline-info") }}
    </form>


{% endblock %}