{% extends 'base.html' %}

{% block content %}
    <img src="{{ url_for('static', filename='images/welcome.png') }}" class="img-fluid" alt="..." title="Добро Пожаловать!">
    <h1>Добро пожаловать на мой первый сайт на framework Flask!</h1>
    <p class="fs-5">
        Большое спасибо за посещение. Я рад видеть вас на просторах моего блога! Это так здорово видеть
        вас здесь. Позвольте мне сказать вам одну вещь: вы можете не только просматривать
        новые посты, но и получать обновления...😄
    </p>
{% endblock %}