{% extends 'base.html' %}

{% block content %}
    <img class="rounded-circle article-img" alt="..."
         src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">

    <a class="mr-2"
       href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ post.title }}</h4>
            <small>Опубликовано {{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}</small>
            <br>
            {% if post.photo %}
                <img src="{{ url_for('static', filename='post_photos/' + post.photo) }}" alt="...">
            {% endif %}
            <br>
            <p class="card-text">{{ post.content }}</p>
        </div>

        <form action="{{ url_for('posts.like_post', post_uid=post.uid) }}" method="post">
            {{ like_form.hidden_tag() }}
            <button type="submit" style="border: none; background-color: #FFFFFF;">
                <img style="width: 32px;" src="{{ url_for('static', filename='images/like.svg') }}" alt="...">
                {{ like_count if like_count > 0 }}
            </button>
        </form>


        <br>

        {% if post.author == current_user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_uid=post.uid) }}">Обновить</a>
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal">Удалить
            </button>
        {% endif %}
    </div>

    <div class="modal" tabindex="-1" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <p>Удалить пост «{{ post.title }}»?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{{ url_for('posts.delete_post', post_uid=post.uid) }}">
                        <button type="submit" class="btn btn-primary">Удалить</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    {% if post.comments.count() > 0 %}
        <h2>Комментарии</h2>
        <p>
            {% for comment in post.comments|reverse %}
                <p>{{ comment.content }}</p>
                <p>
                    <span>{{ comment.user_uid.username }}</span><span>{{ comment.created_at.strftime('%A, %d, %B, %Y, %I:%M %p') }}</span>
                </p>

                {% if comment.user_uid == current_user.uid %}
                    <form action="{{ url_for('posts.del_comment', comment_uid=comment.uid) }}" method="post">
                        <input type="submit" value="Удалить">
                    </form>
                {% endif %}
                <hr>
            {% endfor %}
        </p>
    {% endif %}

    <form method="post">
        {{ comment_form.hidden_tag() }}
        <h2>Оставить комментарий</h2>

        {{ comment_form.content.label(class="form-control-label text-center fs-4 bg-info") }}
        {% if comment_form.content.errors %}
            {{ comment_form.content(class="form-control form-control-lg is-invalid") }}
            {% for error in comment_form.content.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ comment_form.content(class="form-control form-control-lg") }}
        {% endif %}

        <br>
        {{ comment_form.submit(class="btn btn-outline-info") }}
        <br>

    </form>
{% endblock %}