{% extends 'base.html' %}

{% block content %}
    <h1 class="fs-2">Регистрация</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.username.label(class="form-control-label fs-4") }}
        {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ form.username(class="form-control form-control-lg") }}
        {% endif %}

        {{ form.email.label(class="form-control-label fs-4") }}
        {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ form.email(class="form-control form-control-lg") }}
        {% endif %}

        {{ form.password.label(class="form-control-label fs-4") }}
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ form.password(class="form-control form-control-lg") }}
        {% endif %}

        {{ form.confirm_password.label(class="form-control-label fs-4") }}
        {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
            {% for error in form.confirm_password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ form.confirm_password(class="form-control form-control-lg") }}
        {% endif %}

        <br>
        {{ form.submit(class="btn btn-outline-info fs-5") }}
    </form>
{% endblock %}