<div id="header">
    <div id="logo">
        <h1>blo<a href="/">g</a></h1>
        <div class="slogan">Cool slogan goes here!</div>
    </div>
    <div id="menubar">
        <ul id="menu">
            <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
            <li class="{% if request.path == url_for('main.index') %}current{% endif %}"><a href="{{ url_for('main.index') }}">Главная</a></li>

            <li class="{% if request.path == url_for('main.examples') %}current{% endif %}"><a href="{{ url_for('main.examples') }}">Примеры</a></li>
            {% if current_user.is_authenticated %}
               <li class="{% if request.path == url_for('main.account') %}current{% endif %}"><a href="{{ url_for('main.account') }}"><h4>Привет, {{ current_user.username }}!</h4></a></li>
               <li><a href="{{ url_for('main.logout') }}"><h4>Выйти</h4></a></li>
            {% else %}
                <li class="{% if request.path == url_for('users.register') %}current{% endif %}"><a href="{{ url_for('users.register') }}">Присоединиться</a></li>
                <li class="{% if request.path == url_for('users.login') %}current{% endif %}"><a href="{{ url_for('users.login') }}">Войти</a></li>
            {% endif %}


            <li class="{% if request.path == url_for('main.contact') %}current{% endif %}"><a href="{{ url_for('main.contact') }}">Контакты</a></li>
        </ul>
    </div>
</div>